<ion-content class="login-background">
  <form [formGroup]="changePassword" style="padding: 30% 10% 10% 10%;">

    <ion-row>
      <ion-col>
        <div style="text-align: center">
          <img src="assets/imgs/rationalOfLogo.png" style="width: 20%" />
        </div>
      </ion-col>
    </ion-row>
    <br />

    <ion-list style="padding: 10% 10% 10% 10%; margin-bottom: 0px;">
      <ion-item>
        <ion-label style="font-weight: bold;" item-left primary>Old Password : </ion-label>
        <ion-input formControlName="currentPassword" required="true" [type]="passwordType" placeholder="Enter Current Password"></ion-input>
        <ion-icon [name]="passwordIcon" item-end style="align-self: flex-end;" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <ion-item
        *ngIf="changePassword.get('currentPassword').hasError('required') && changePassword.get('currentPassword').touched">
        <ion-label color="danger">
          <ion-icon name="warning"></ion-icon>
          Please enter current password
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-weight: bold;" item-left primary>New Password : </ion-label>
        <ion-input formControlName="newPassword" required="true" [type]="passwordType" placeholder="Enter New Password"></ion-input>
        <ion-icon [name]="passwordIcon" item-end style="align-self: flex-end;" (click)='hideShowPassword()'></ion-icon> 
      </ion-item>
      <ion-item
        *ngIf="changePassword.get('newPassword').hasError('required') && changePassword.get('newPassword').touched">
        <ion-label color="danger">
          <ion-icon name="warning"></ion-icon>
          Please enter new password
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label style="font-weight: bold;" item-left primary>Confirm Password : </ion-label>
        <ion-input formControlName="newPasswordConfirm" required="true" [type]="passwordType" placeholder="Enter New Password"></ion-input>
        <ion-icon [name]="passwordIcon" item-end style="align-self: flex-end;" (click)='hideShowPassword()'></ion-icon>      
      </ion-item>

      <ion-item
        *ngIf="changePassword.get('newPasswordConfirm').hasError('required') && changePassword.get('newPasswordConfirm').touched">
        <ion-label color="danger">
          <ion-icon name="warning"></ion-icon>
          Please enter confirmation password
        </ion-label>
      </ion-item>
      <br />
    </ion-list>

    <!--  <ion-list>
    <ion-item>
      <ion-icon name="key" item-left primary></ion-icon>
      <ion-input [(ngModel)]="oldPassword" type="password" placeholder="Old Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key" item-left primary></ion-icon>
      <ion-input [(ngModel)]="newPassword" type="password" placeholder="New Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key" item-left primary></ion-icon>
      <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
    </ion-item>
    <br />
  </ion-list> -->

    <div style="padding: 1% 20% 1% 20%; ">
      <ion-row>
        <ion-col>
          <button color="secondary" ion-button block type="button" (click)="changePasswordForm()" round>Change
            Password</button>
        </ion-col>
        <ion-col>
          <button color="danger" ion-button block (click)="goBack()" round>Cancel</button>
        </ion-col>
      </ion-row>
    </div>
    <!--  <div padding>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="changePasswordForm()">Change Password</button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="goBack()">Cancel</button>
        </ion-col>
      </ion-row>
    </div> -->
  </form>
</ion-content>