<ion-header>
  <ion-navbar>
    <ion-title>Meter Informations</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Start: New Section -->
  <ion-list ion-row>
    <!-- Start: List of Feeder -->
    <div style="width: 100%" *ngFor="let feeder of items.json.ta0feeder; let i = index;">

      <!-- Start: Header List -->
      <ion-item-divider mode="md">
        <ion-icon name="speedometer" item-start></ion-icon>
        {{ feeder.description }} - {{ feeder.ta0feedercode }}
      </ion-item-divider>
      <!-- End: Header List -->

      <!-- Start: Meter Info -->
      <div ion-row>
        <div
          [ngClass]="(device.ta0functionclass === functClass.NMTR || device.ta0functionclass === functClass.RMTR || device.ta0functionclass === functClass.SMTR_OLD) && (device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN || device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK) ? 'half-col' : ''"
          *ngFor="let device of items.json.ta0feeder[i].multiassetlocci">

          <!-- Start: Meter -->
          <!-- Start: Type (NMTR/RMTR) -->
          <ion-item col-12 col-sm-12 col-md-12
            *ngIf="(device.ta0functionclass === functClass.NMTR || device.ta0functionclass === functClass.RMTR || device.ta0functionclass === functClass.SMTR_OLD) && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN">
            <ion-label style="font-weight: bold;">
              {{ device.ta0allocationtype == '90' ? 'Main Meter' : device.ta0allocationtype == '91' ? 'Feeder Meter' : device.ta0allocationtype == '94' ? 'Sub Meter' : device.ta0allocationtype == '96' ? 'Sub Feeder Meter' : device.ta0allocationtype == '92' ? 'Check Meter' : device.ta0allocationtype == '93' ? 'Check Feeder' : device.ta0allocationtype == '95' ? 'Check Sub Meter' : device.ta0allocationtype == '97' ? 'Check Sub Feeder' : '-' }}
            </ion-label>
          </ion-item>
          <ion-item col-12 col-sm-12 col-md-12
            *ngIf="(device.ta0functionclass === functClass.NMTR || device.ta0functionclass === functClass.RMTR || device.ta0functionclass === functClass.SMTR_OLD) && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK">
            <ion-label style="font-weight: bold;">
              {{ device.ta0allocationtype == '90' ? 'Main Meter' : device.ta0allocationtype == '91' ? 'Feeder Meter' : device.ta0allocationtype == '94' ? 'Sub Meter' : device.ta0allocationtype == '96' ? 'Sub Feeder Meter' : device.ta0allocationtype == '92' ? 'Check Meter' : device.ta0allocationtype == '93' ? 'Check Feeder' : device.ta0allocationtype == '95' ? 'Check Sub Meter' : device.ta0allocationtype == '97' ? 'Check Sub Feeder' : '-' }}
            </ion-label>
          </ion-item>
          <!-- End: Type -->

          <div
            *ngIf="(device.ta0functionclass === functClass.NMTR || device.ta0functionclass === functClass.RMTR || device.ta0functionclass === functClass.SMTR_OLD) && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN">
            <!-- Start: Serial Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Serial Number</h2>
              <p>{{ device.ta0serialnum || '-' }}</p>
            </ion-item>
            <!-- End: Serial Number -->

            <!-- Start: Asset Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Asset Number</h2>
              <p>{{ device.assetnum || '-' }}</p>
            </ion-item>
            <!-- End: Asset Number -->
          </div>

          <div
            *ngIf="(device.ta0functionclass === functClass.NMTR || device.ta0functionclass === functClass.RMTR) && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK">
            <!-- Start: Serial Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Serial Number</h2>
              <p>{{ device.ta0serialnum || '-' }}</p>
            </ion-item>
            <!-- End: Serial Number -->

            <!-- Start: Asset Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Asset Number</h2>
              <p>{{ device.assetnum || '-' }}</p>
            </ion-item>
            <!-- End: Asset Number -->
          </div>
          <!-- End: Meter -->

        </div>
      </div>
      <!-- End: Meter Info -->

      <!-- Start: Modem Info -->
      <div ion-row>
        <div
          [ngClass]="(device.ta0functionclass === functClass.MODEM && (device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_MD || device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_MD)) ? 'half-col' : ''"
          *ngFor="let device of items.json.ta0feeder[i].multiassetlocci">
          <!-- Start: Modem -->
          <!-- Start: Type (Modem) -->
          <ion-item col-12 col-sm-12 col-md-12
            *ngIf="device.ta0functionclass === functClass.MODEM && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_MD">
            <ion-label style="font-weight: bold;">
              {{ device.ta0allocationtype == '82' ? 'Modem' : '-' }}
            </ion-label>
          </ion-item>
          <ion-item col-12 col-sm-12 col-md-12
            *ngIf="device.ta0functionclass === functClass.MODEM && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_MD">
            <ion-label style="font-weight: bold;">
              {{ device.ta0allocationtype == '82' ? 'Modem' : '-' }}
            </ion-label>
          </ion-item>
          <!-- End: Type -->

          <div
            *ngIf="device.ta0functionclass === functClass.MODEM && (device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_MD || device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_MD)">
            <!-- Start: Serial Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Serial Number</h2>
              <p>{{ device.ta0serialnum || '-' }}</p>
            </ion-item>
            <!-- End: Serial Number -->

            <!-- Start: Asset Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Asset Number</h2>
              <p>{{ device.assetnum || '-' }}</p>
            </ion-item>
            <!-- End: Asset Number -->
          </div>
          <!-- End: Modem -->
        </div>
      </div>
      <!-- End: Modem Info -->

      <!-- Start: Simcard Info -->
      <div ion-row>
        <div
          [ngClass]="(device.ta0functionclass === functClass.SIMCRD && (device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_SIM || device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_SIM)) ? 'half-col' : ''"
          *ngFor="let device of items.json.ta0feeder[i].multiassetlocci">
          <!-- Start: Simcard -->
          <!-- Start: Type (Simcard) -->
          <ion-item col-12 col-sm-12 col-md-12
            *ngIf="device.ta0functionclass === functClass.SIMCRD && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_SIM">
            <ion-label style="font-weight: bold;">
              {{ device.ta0allocationtype == '83' ? 'Simcard' : '-' }}
            </ion-label>
          </ion-item>
          <ion-item col-12 col-sm-12 col-md-12
            *ngIf="device.ta0functionclass === functClass.SIMCRD && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_SIM">
            <ion-label style="font-weight: bold;">
              {{ device.ta0allocationtype == '83' ? 'Simcard' : '-' }}
            </ion-label>
          </ion-item>
          <!-- End: Type -->

          <div
            *ngIf="device.ta0functionclass === functClass.SIMCRD && (device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_SIM || device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_SIM)">
            <!-- Start: Serial Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Serial Number</h2>
              <p>{{ device.ta0serialnum || '-' }}</p>
            </ion-item>
            <!-- End: Serial Number -->

            <!-- Start: Asset Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Asset Number</h2>
              <p>{{ device.assetnum || '-' }}</p>
            </ion-item>
            <!-- End: Asset Number -->
          </div>
          <!-- End: Simcard -->
        </div>
      </div>
      <!-- End: Simcard Info -->

      <!-- Start: Comm Module Info -->
      <div ion-row>
        <div
          [ngClass]="(device.ta0functionclass === functClass.COM_SMTR && (device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_COMM || device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_COMM)) ? 'half-col' : ''"
          *ngFor="let device of items.json.ta0feeder[i].multiassetlocci">
          <!-- Start: Comm Module -->
          <!-- Start: Type (Comm Module) -->
          <ion-item col-12 col-sm-12 col-md-12
            *ngIf="device.ta0functionclass === functClass.COM_SMTR && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_COMM">
            <ion-label style="font-weight: bold;">
              {{ device.ta0allocationtype == '87' ? 'Comm Module for Smart Meter' : '-' }}
            </ion-label>
          </ion-item>
          <ion-item col-12 col-sm-12 col-md-12
            *ngIf="device.ta0functionclass === functClass.COM_SMTR && device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_COMM">
            <ion-label style="font-weight: bold;">
              {{ device.ta0allocationtype == '87' ? 'Comm Module for Smart Meter' : '-' }}
            </ion-label>
          </ion-item>
          <!-- End: Type -->

          <div
            *ngIf="device.ta0functionclass === functClass.COM_SMTR && (device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_MAIN_COMM || device.ta0bcrmuploadindicator === dCons.BCRM_EXISTING_INDICATOR_CHECK_COMM)">
            <!-- Start: Serial Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Serial Number</h2>
              <p>{{ device.ta0serialnum || '-' }}</p>
            </ion-item>
            <!-- End: Serial Number -->

            <!-- Start: Asset Number -->
            <ion-item col-12 col-sm-12 col-md-12>
              <h2>Asset Number</h2>
              <p>{{ device.assetnum || '-' }}</p>
            </ion-item>
            <!-- End: Asset Number -->
          </div>
          <!-- End: Comm Module -->
        </div>
      </div>
      <!-- End: Comm Module Info -->

    </div>
    <!-- Start: List of Feeder -->
  </ion-list>
  <!-- End: New Section -->
</ion-content>