page-gir-reg {

    .reg-button {
        height: 2.6rem;
        float: right;
        color: #0000FF;
        background-color: #ffffff;
    }

    .wrap-reg {
        border: 1px solid black;
        padding: 20px;
        border-style: dotted;
    }

    .save-btn {
        float: right; 
        padding-top: 15px;
    }

    .offline_btn {
        font-size: 15px;
    }
}
