<!--
  Generated template for the SealValidationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header mode="md">
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="md-menu" color="light"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Seal Validation</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon [color]="gv.testMobile ? 'danger' : 'light'" name="md-planet" class="flash_plnt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-segment [(ngModel)]="refSegment" style="padding-bottom: 10px;" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="scan">Scan</ion-segment-button>
    <ion-segment-button value="list">List</ion-segment-button>
  </ion-segment>

  <span [ngSwitch]="refSegment">
    <span *ngSwitchCase="'scan'">

      <ion-row>
        <ion-col col-6 style="padding-left: 21px;">
          <ion-checkbox [(ngModel)]="singleFlag" (ionChange)="CheckboxClicked($event)" style="float: left;"></ion-checkbox>
          <span>
            <ion-label style="font-size: 10px; float: left; margin-top: 3px; padding-left: 13px; color: green;">Single Serial Number</ion-label>
          </span>
        </ion-col>    
      </ion-row>
 
      <div *ngIf="singleFlag===false">
        <ion-row>
          <ion-col col-11 col-lg-11 col-md-11 col-xs-11 col-sm-11>      
            <ion-item>
              <ion-label stacked>Start Serial Number</ion-label>
              <ion-input [(ngModel)]="firstSEALCode" type="text"></ion-input>
            </ion-item>             
          </ion-col>
          <ion-col col-1 col-lg-1 col-md-1 col-xs-1 col-sm-1 style="margin: 16px 0px 0px 0px;">        
            <button ion-button (click)="barcodeScan(1)" style="float: right;">
              <ion-icon name="barcode" item-right></ion-icon>
            </button>
          </ion-col>     
        </ion-row>

        <ion-row>
          <ion-col col-11 col-lg-11 col-md-11 col-xs-11 col-sm-11>
            <ion-item>
              <ion-label stacked>End Serial Number</ion-label>
              <ion-input [(ngModel)]="lastSEALCode" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1 col-lg-1 col-md-1 col-xs-1 col-sm-1 style="margin: 16px 0px 0px 0px;">
            <button ion-button (click)="barcodeScan(2)" style="float: right;">
              <ion-icon name="barcode" item-right></ion-icon>
            </button>
          </ion-col>   
        </ion-row>
      </div>

      <div *ngIf="singleFlag===true">
        <ion-row>
          <ion-col col-11 col-lg-11 col-md-11 col-xs-11 col-sm-11>      
            <ion-item>
              <ion-label stacked>Start Serial Number</ion-label>
              <ion-input [(ngModel)]="singleSEALCode" type="text"></ion-input>
            </ion-item>             
          </ion-col>
          <ion-col col-1 col-lg-1 col-md-1 col-xs-1 col-sm-1 style="margin: 16px 0px 0px 0px;">        
            <button ion-button (click)="barcodeScan(3)" style="float: right;">
              <ion-icon name="barcode" item-right></ion-icon>
            </button>
          </ion-col>     
        </ion-row>    
      </div>

      <div>
        <ion-row>      
          <ion-col col-10 col-lg-10 col-md-10 col-xs-10 col-sm-10>              
          </ion-col>
          <ion-col col-2 col-lg-2 col-md-2 col-xs-2 col-sm-2 style="margin: 16px 0px 0px 0px;">        
            <div class="save-btn">
              <button ion-button (click)="validation()" style="padding: 15px;float: right;">Validation</button>
            </div>
          </ion-col>     
        </ion-row>
      </div>

      <div *ngIf="showSealStatus">
        <ion-row >
          <ion-col col-12 col-lg-12 col-md-12 col-xs-12 col-sm-12>
            <ion-list>
              <ion-item>
                <ion-card style="padding: 15px;">
                  <ion-card-header>
                    <ion-row>
                      <ion-col col-12>
                        <b>List of Crimpless Seal</b> ( Valid Count: <span style="color: green;">{{validCount}}</span>, Invalid Count: 
                        <span style="color: red;">{{invalidCount}}</span> )
                      </ion-col>               
                    </ion-row>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item-divider color="light" (click)="showValidSection(1)" class="pointer">
                      <ion-row align-items-center>
                        <ion-col col-10 col-sm-10 col-md-10 style="word-wrap:  break-all; padding-left: 5px;">
                          <strong>Valid Crimpless Seal</strong>
                        </ion-col>
                        <ion-col col-2 col-sm-2 col-md-2 style="word-wrap:  break-all; padding-left: 5px; text-align:right">              
                          <ion-icon name="arrow-forward" style="zoom: 1.5;" *ngIf="!showValid"></ion-icon>
                          <ion-icon name="arrow-down" style="zoom: 1.5;" *ngIf="showValid"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-item-divider>
                    <div *ngIf="showValid">
                      <ion-list>
                        <ion-item *ngFor="let device of sealValidItem; let i = index;"
                          [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'">
                          <ion-row [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'">
                            <ion-col col-1 text-wrap [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'"
                              [ngClass]="deviceLabel">
                              {{ i+1 }}.
                            </ion-col>
                            <ion-col col-5 text-wrap [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'"
                              [ngClass]="deviceLabel">
                              {{ device.sealCode }}
                            </ion-col>                                        
                          </ion-row>
                        </ion-item>
                        <ion-item>
                          <button ion-button (click)="validSave()" style="padding: 15px;float: right;">Save</button>                  
                        </ion-item>
                      </ion-list>
                    </div>
                    <ion-item-divider color="light" (click)="showInvalidSection(1)" class="pointer">
                      <ion-row align-items-center>
                        <ion-col col-10 col-sm-10 col-md-10 style="word-wrap:  break-all; padding-left: 5px;">
                          <strong>Invalid Crimpless Seal</strong>
                        </ion-col>
                        <ion-col col-2 col-sm-2 col-md-2 style="word-wrap:  break-all; padding-left: 5px; text-align:right">              
                          <ion-icon name="arrow-forward" style="zoom: 1.5;" *ngIf="!showInvalid"></ion-icon>
                          <ion-icon name="arrow-down" style="zoom: 1.5;" *ngIf="showInvalid"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-item-divider>
                    <div *ngIf="showInvalid">
                      <ion-list>
                        <ion-item *ngFor="let device of sealInvalidItem; let i = index;"
                          [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'">
                          <ion-row [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'">
                            <ion-col col-1 text-wrap [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'"
                              [ngClass]="deviceLabel">
                              {{ i+1 }}.
                            </ion-col>
                            <ion-col col-5 text-wrap [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'"
                              [ngClass]="deviceLabel">
                              {{ device.sealCode }}
                            </ion-col>                                        
                          </ion-row>
                        </ion-item>
                      </ion-list>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
    </span>

    <span *ngSwitchCase="'list'">
      <div>
        <ion-row >
          <ion-col col-12 col-lg-12 col-md-12 col-xs-12 col-sm-12>
            <ion-list>
              <ion-item>
                <ion-card style="padding: 15px;">
                  <ion-card-header>
                    <ion-row>
                      <ion-col col-12>
                        <b>List of Crimpless Seal</b> ( Valid Count: <span style="color: green;">{{totalValidCount}}</span>)
                      </ion-col>               
                    </ion-row>
                  </ion-card-header>                 
                  <ion-card-content>
                    <ion-item-divider color="light" class="pointer">
                      <ion-row align-items-center>
                        <ion-col col-10 col-sm-10 col-md-10 style="word-wrap:  break-all; padding-left: 5px;">
                          <strong>Valid Crimpless Seal</strong>
                        </ion-col>
                        <ion-col col-2 col-sm-2 col-md-2 style="word-wrap:  break-all; padding-left: 5px; text-align:right">              
                          <ion-icon name="arrow-forward" style="zoom: 1.5;" *ngIf="!showValid"></ion-icon>
                          <ion-icon name="arrow-down" style="zoom: 1.5;" *ngIf="showValid"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-item-divider>
                    <div *ngIf="showValid">
                      <ion-list>
                        <ion-item *ngFor="let device of sealValidItems; let i = index;"
                          [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'">
                          <ion-row [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'">
                            <ion-col col-1 text-wrap [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'"
                              [ngClass]="deviceLabel">
                              {{ i+1 }}.
                            </ion-col>
                            <ion-col col-5 text-wrap [style.background-color]="i%2 != 0 ? '#fffffA':'#C4D8E2'"
                              [ngClass]="deviceLabel">
                              {{ device.SEALCODE }}
                            </ion-col>                                        
                          </ion-row>
                        </ion-item>
                        <ion-item>
                          <button ion-button (click)="delete()" style="padding: 15px;float: right;">Delete</button>                  
                        </ion-item>
                      </ion-list>
                    </div>                                   
                  </ion-card-content>
                </ion-card>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>

    </span>
  </span>
</ion-content>
