<!--
/* 
 * Modification History :
 * Date         version     Modified By   Method    Description
 * 2021-03-25   009         Andy Chang    -         update data of Work Done By using workorder.lead
 * 
 */
 -->
<ion-header mode="md">
  <ion-navbar color="primary">
    <ion-title>Service Order Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon [color]="gv.testMobile ? 'danger' : 'light'" name="md-planet" class="flash_plnt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- <ion-header>
  <ion-grid class="headerStyle">
    <ion-row>
      <ion-col col-3 col-sm-3 col-md-3 align-self-center style="text-align: left;">
        <button ion-button clear class="backbutton" (click)="goBack()">
          <ion-icon name="arrow-back" class="menuBackArrow backbutton"> Back </ion-icon>
        </button>
      </ion-col>
      <ion-col col-5 col-sm-5 col-md-5 align-self-center>
        <div class="pageTitle">
          Service Order Details
        </div>
      </ion-col>
      <ion-col col-3 col-sm-3 col-md-3 align-self-center style="text-align: right;">
        <button ion-button small round mode="md" disabled="true" class="flash" style="opacity: unset;">
          <ion-icon class="flash_plnt" name="planet" [style.color]="gv.testMobile ? 'red':'green'">
            {{ gv.testMobile ? 'Offline':'Online' }}
          </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header> -->

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to download">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid style="word-wrap:  break-all; padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;">
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-12 style="word-wrap:  break-all; padding-left: 5px;">
        <ion-item>
          <ion-label color="primary" style="font-size: 19px"> Service Cover </ion-label>
          <ion-toggle (ionChange)="checkServiceCover()" checked="checkServiceCover"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Service Order Number</ion-label>
          <ion-input type="text" value="{{ items.json.wonum }} - {{ items.json.ta0bcrmnum }}" [readonly]="isReadonly">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
        <ion-item>
          <ion-label color="primary" stacked>Report DateTime</ion-label>
          <ion-input type="text"
            value="{{ items.json.reportdate | date: gv.dateFormat  }}  {{ items.json.reportdate | date: gv.timeFormat  }} "
            [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>SN Code</ion-label>
          <ion-input type="text" value="{{ items.json.ta0sncode }} " [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
        <ion-item>
          <ion-label color="primary" stacked>SN Description</ion-label>
          <ion-input type="text" value="{{ sncodedesc }} " [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px; border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Last Bill Date</ion-label>
          <ion-input type="text"
            value="{{ items.json.ta0lastbilldate | date: gv.dateFormat || '' }} {{ items.json.ta0lastbilldate | date: gv.timeFormat || '' }}"
            [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
        <ion-item>
          <ion-label color="primary" stacked>Type of Service Order</ion-label>
          <ion-input type="text" value="{{ items.json.worktype  || ''}}" [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" style="padding-right: 150px" stacked>Service Description</ion-label>
          <ion-input type="text" value="{{ items.json.description }}" [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <div *ngIf="!enablePoleNo">
          <ion-item>
            <ion-label color="primary" stacked>Pole Number</ion-label>
            <ion-input type="text" maxlength="20" [(ngModel)]="items.json.ta0polenum"
              value="{{ items.json.ta0polenum || '' }}" [disabled]="editField" placeholder="Please enter value">
            </ion-input>
          </ion-item>
        </div>
        <div *ngIf="enablePoleNo">
          <ion-item>
            <ion-label color="primary" stacked>Pole Number</ion-label>
            <ion-input type="text" maxlength="20" [(ngModel)]="items.json.ta0polenum"
              value="{{ items.json.ta0polenum || '' }}" [disabled]="true" placeholder="Please enter value"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" style="padding-right: 150px" stacked>SR Number</ion-label>
          <ion-input type="text" value="{{ items.json.ta0srnum || '' }}" [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6>
        <ion-item>
          <ion-label color="primary" stacked>CRM Doc Type</ion-label>
          <ion-input type="text" value="{{ items.json.ta0crmdoctype || '' }}" [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" style="padding-right: 150px" stacked>CRM Appointment Date</ion-label>          
          <ion-input type="text" value="{{ items.json.ta0crmapptdate | date: gv.dateFormat || '' }} {{ items.json.ta0crmapptdate | date: gv.timeFormat || '' }}"
            [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>No of Element</ion-label>
          <ion-input type="text" [(ngModel)]="items.json.ta0elementnum" [readonly]="false"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="showServiceCover" col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Type of Installation Service</ion-label>
          <ion-select [(ngModel)]="items.json.ta0installationservice" [disabled]="enableServiceTypeAndServiceStatus">
            <ion-option value="OH">OG- OVERHEAD</ion-option>
            <ion-option value="UG">UG- UNDERGROUND</ion-option>
            <ion-option value="FW">FW- 5 FOOT AWAY</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <div>
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6 *ngIf="showServiceCover" style="border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" style="padding-right: 100px" stacked>No of Suppliers</ion-label>
            <ion-input type="text" value="{{ items.json.ta0suppliers || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="border-right: 1px solid #dadada;"
          *ngIf="items.json.worktype === soTypes.ZUDN || items. json.worktype === soTypes.ZIST">
          <ion-item class="blackHighlightText">
            <ion-label color="primary" stacked>No. of Feeder</ion-label>
            <ion-input type="text" [(ngModel)]="items.json.ta0feedernum" [readonly]="true"></ion-input>
            <ion-icon item-end color="primary" name="md-add-circle" (click)="increment()" style="margin-right: 25px;">
            </ion-icon>
            <ion-icon item-end color="primary" name="md-remove-circle" (click)="decrement()"></ion-icon>
          </ion-item>
        </ion-col>
        <!-- <ion-col col-6 col-sm-6 col-md-3 style="text-align:right; border-right: 1px solid #dadada;" align-self-center
          *ngIf="items.json.worktype === soTypes.ZUDN || items. json.worktype === soTypes.ZIST">
          <button ion-button color="primary" (click)="decrement()">
            <ion-icon style="font-size: 2.2em" name="remove-circle"></ion-icon>
          </button>
          <button ion-button color="primary" (click)="increment()">
            <ion-icon style="font-size: 2.2em" name="add-circle"></ion-icon>
          </button>
        </ion-col> -->
        <ion-col col-12 col-sm-12 col-md-6
          *ngIf="items.json.worktype === soTypes.ZRMV || items. json.worktype === soTypes.ZISR || items. json.worktype === soTypes.ZSRO || items. json.worktype === soTypes.ZINL || items. json.worktype === soTypes.ZINR || items. json.worktype === soTypes.ZMMR || items. json.worktype === soTypes.ZRCE || items. json.worktype === soTypes.ZRPC"
          style="word-wrap: break-all; padding-left: 5px; border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>No of Feeder</ion-label>
            <ion-input type="text" [(ngModel)]="items.json.ta0feedernum" [readonly]="true">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="showServiceCover">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Rate</ion-label>
            <ion-input type="text" value="{{ items.json.ta0ratecategory || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Rate Category Description</ion-label>
            <ion-input type="text" value="{{ items.json.ta0ratecategorydesc || '' }}" [readonly]="isReadonly">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="showServiceCover && items.json.worktype === soTypes.ZUDN">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>New Rate Category</ion-label>
            <ion-input type="text" value="{{ items.json.ta0newratecategory || '' }}" [readonly]="isReadonly">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>New Rate Category Description</ion-label>
            <ion-input type="text" value="{{ items.json.ta0newratecategorydesc || '' }}" [readonly]="isReadonly">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Installation Voltage</ion-label>
          <ion-input type="text" value="{{ items.json.ta0installationvoltage == '01' ? 'Single Phase' :
            items.json.ta0installationvoltage == '02' ? '3 Phase' :
            items.json.ta0installationvoltage == '03' ? '400V LPC' : 
            items.json.ta0installationvoltage == '04' ? '6.6kV LPC' : 
            items.json.ta0installationvoltage == '05' ? '11kV' :
            items.json.ta0installationvoltage == '06' ? '22kV' :
            items.json.ta0installationvoltage == '07' ? '33kV' :
            items.json.ta0installationvoltage == '08' ? '66kV' :
            items.json.ta0installationvoltage == '09' ? '132kV' :
            items.json.ta0installationvoltage == '10' ? '275kV' : 
            items.json.ta0installationvoltage == '11' ? '500kV' : '' }}" [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="items.json.worktype === soTypes.ZUDN" col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>New Voltage</ion-label>
          <ion-input type="text" value="{{ items.json.ta0newvoltage == '01' ? 'Single Phase' :
                  items.json.ta0newvoltage == '02' ? '3 Phase' : 
                  items.json.ta0newvoltage == '03' ? '400V LPC' : 
                  items.json.ta0newvoltage == '04' ? '6.6kV LPC' : 
                  items.json.ta0newvoltage == '05' ? '11kV' :
                  items.json.ta0newvoltage == '06' ? '22kV' :
                  items.json.ta0newvoltage == '07' ? '33kV' :
                  items.json.ta0newvoltage == '08' ? '66kV' :
                  items.json.ta0newvoltage == '09' ? '132kV' :
                  items.json.ta0newvoltage == '10' ? '275kV' : 
                  items.json.ta0newvoltage == '11' ? '500kV' : '' }}" [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>No. RU</ion-label>
          <ion-input type="text" value="{{ items.json.ta0mru || '' }}" [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
        <ion-item>
          <ion-label color="primary" style="padding-right: 150px" stacked>No. RU Description</ion-label>
          <ion-input type="text" [(ngModel)]="items.json.ta0mrudesc" value="{{ items.json.ta0mrudesc || '' }}"
            [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Meter Location</ion-label>
          <ion-select [(ngModel)]="items.json.ta0dllocation" interface="alert" placeholder="Please select value">
            <ion-option *ngFor="let alnVolt of alnitem;" [value]="alnVolt.json.value"
              [selected]="items.json.ta0dllocation == alnVolt.json.value" [disabled]="editField">
              {{ alnVolt.json.value }} - {{ alnVolt.json.description }}
            </ion-option>
          </ion-select>
          <!--<ion-input type="text"   [(ngModel)]="items.json.ta0dlllocation"  value="{{ items.json.ta0dlllocation || '' }}"  (click)="getDlLocation();"></ion-input>-->
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Current Ratio</ion-label>
          <ion-input type="text" maxlength="40" [(ngModel)]="currentRatio" value="{{ currentRatio || '' }}"
            [readonly]="isReadonly" placeholder=""></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Device Location</ion-label>
          <ion-input type="text" [(ngModel)]="items.json.ta0devicelocation"
            value="{{ items.json.ta0devicelocation || '' }}" [readonly]="isReadonly"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Device Location Description</ion-label>
          <ion-input type="text" maxlength="40" [(ngModel)]="items.json.ta0devicelocationdesc"
            value="{{ items.json.ta0devicelocationdesc || '' }}" [disabled]="editField"
            placeholder="Please enter value"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <div *ngIf="showServiceCover">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Signal Strength</ion-label>
            <ion-input type="text" value="{{ items.json.ta0signalstrength || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>Phone No</ion-label>
            <ion-input type="text" value="{{ items.json.phone || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="showServiceCover">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Key</ion-label>
            <ion-input type="text" value="{{ items.json.ta0key || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>Type of Premises</ion-label>
            <ion-input type="text" value="{{ items.json.ta0premisetype || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="(items.json.worktype === 'ZISR' || items.json.worktype === 'ZRCE')">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Parent Wonum </ion-label>
            <ion-input type="text" value="{{ items.json.origrecordid || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <!--
     * AMS and AMCG Validation to check Modem and SimCard is change or not...
     * Editor Shandeep Kumar
    -->
    <div *ngIf="amscheckcond">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>AMS</ion-label>
            <ion-select [(ngModel)]="items.json.ta0ams" (ionChange)="getAMSData($event)" [disabled]="showAms"
              placeholder="Please select value">
              <ion-option [value]="" [selected]="amsVolt == ''"></ion-option>
              <ion-option *ngFor="let amsVolt of amsstolevalue;" [value]="amsVolt"
                [selected]="items.json.ta0ams === amsVolt">{{ amsVolt }}</ion-option>
            </ion-select>
            <!-- <ion-input type="text" [(ngModel)]="items.json.ta0ams" value="{{ items.json.ta0ams || '' }}" maxlength="4" disabled="{{showAmsAmcg}}"></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>AMCG</ion-label>
            <ion-select [(ngModel)]="items.json.ta0amcg" [disabled]="showAmscg" placeholder="Please select value">
              <ion-option *ngFor="let amscgVolt of amscgstolevalue;" [value]="amscgVolt"
                [selected]="items.json.ta0amcg === amscgVolt">{{ amscgVolt }}</ion-option>
            </ion-select>
            <!-- <ion-input type="text" [(ngModel)]="items.json.ta0amcg" value="{{ items.json.ta0amcg || '' }}" maxlength="4" disabled="{{showAmsAmcg}}"></ion-input> -->
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6
        style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
        <ion-item>
          <ion-label color="primary" stacked>Service Order Status</ion-label>
          <ion-select [(ngModel)]="woStatus" (ionChange)="statusChange($event)"
            [disabled]="loc_saveStatus ? 'false' : 'true'">
            <ion-option value="APPR" disabled>APPR &nbsp;-&nbsp; APPROVED</ion-option>
            <ion-option value="PENDTECO" [disabled]="(woStatus == 'APPR')? true : false">TECO &nbsp;-&nbsp; COMPLETE
            </ion-option>
            <ion-option value="INPRG">INPRG &nbsp;-&nbsp; IN PROGRESS</ion-option>
            <ion-option value="PENDKIV"
              [disabled]="!items.json.ta0bcrmnum && (items.json.worktype === 'ZISR' || items.json.worktype === 'ZRCE') && items.json.origrecordid !== ''">
              KIV &nbsp;-&nbsp; KIV</ion-option>
            <ion-option value="PENDCLSD"
              [disabled]="!items.json.ta0bcrmnum && (items.json.worktype === 'ZISR' || items.json.worktype === 'ZRCE') && items.json.origrecordid !== ''">
              CLSD &nbsp;-&nbsp; CLOSE</ion-option>
            <ion-option value="PCBNT">PCBNT &nbsp;-&nbsp; NEXT TEAM</ion-option>
            <ion-option *ngIf="items.json.ta0bcrmresponsestatus === 'E'" value="PSTSV">PSTSV &nbsp;-&nbsp; Error Check
              Next Team</ion-option>
            <!-- Checking for bcrm Number is available or not... Shandeep Kumar... -->
            <ion-option
              *ngIf="(!items.json.ta0bcrmnum || (items.json.worktype === soTypes.ZISR || items.json.worktype === soTypes.ZRCE) )"
              value="CANCEL">CANCEL &nbsp;-&nbsp; CANCEL</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12 col-sm-12 col-md-6>
        <ion-row>
          <ion-col>
            <ion-item [ngClass]="(validatePhoto) ? 'redHighlightText' : 'blackHighlightText'">
              <ion-label color="primary" stacked>Upload Photo</ion-label>
              <ion-input type="text" placeholder="Upload Image" value="{{ items.json.loc_attachmentCount || '0' }} "
                [readonly]="true">
              </ion-input>
              <ion-icon mode="md" name="md-images" item-right color="primary" *ngIf="showButtonImage"
                (click)="goToUploadPhoto()" style="zoom: 1.2;"></ion-icon>
            </ion-item>
          </ion-col>
          <!-- <ion-col col-12 col-sm-12 col-md-2 style="align-self: flex-end;">
            <button mode="md" *ngIf="showButtonImage" ion-button (click)="goToUploadPhoto()">
              <ion-icon name="md-images" item-right></ion-icon>
            </button>
          </ion-col> -->
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showServiceCover">
      <ion-col col-12 col-sm-12 col-md-12>
        <ion-item *ngFor="let address of items.json.woserviceaddress;">
          <ion-label color="primary" stacked>Address</ion-label>
          <ion-textarea rows="4" type="text" value="{{ address.formattedaddress || '' }}" [readonly]="isReadonly">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <div *ngIf="showServiceCover">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px; border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Area Code</ion-label>
            <ion-input color="secondary" placeholder="Area Code" value="{{ items.json.siteid || '' }}"
              [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>Area</ion-label>
            <ion-input type="text" placeholder="Area" value="{{items.json.ta0locationdesc || '' }}"
              [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="showServiceCover">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Condition of Installation Service</ion-label>
            <ion-select [(ngModel)]="items.json.ta0serviceflag" [disabled]="enableServiceTypeAndServiceStatus">
              <ion-option value="true">Ready</ion-option>
              <ion-option value="false">Not Ready</ion-option>
            </ion-select>
            <!-- <ion-input type="text" value="{{ items.json.ta0serviceflag || '' }}" [readonly]="enableServiceTypeAndServiceStatus"></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>Registered Customer Name</ion-label>
            <ion-input type="text" value="{{ items.json.ta0bpname || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="showServiceCover">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Occupant Name</ion-label>
            <ion-input type="text" value="{{ items.json.ta0bptenantname || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>Account Number</ion-label>
            <ion-input type="text" value="{{ items.json.ta0accountnum || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="showServiceCover">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6 style="border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Contractor Name</ion-label>
            <ion-input type="text" value="{{ items.json.ta0contractorname || '' }}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6>
          <ion-item>
            <ion-label color="primary" stacked>Contractor Phone No.</ion-label>
            <ion-input type="text" value="{{ items.json.ta0contractorphonenum || '' }}" [readonly]="isReadonly">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-12>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="primary" stacked>GPS Coordinate</ion-label>
              <ion-input type="text"
                value="{{ woserviceaddress.latitudey}} - {{ woserviceaddress.longitudex}} ( Accuracy : {{ woserviceaddress.referencepoint }} meter )"
                [readonly]="isReadonly"></ion-input>
              <ion-icon name="md-locate" item-end color="primary" (click)="locationCoordination()"
                *ngIf="disableButtonSelection" style="zoom: 1.2;"></ion-icon>
            </ion-item>
          </ion-col>
          <!-- <ion-col col-12 col-sm-12 col-md-2 style="word-wrap:  break-all; padding-left: 5px;text-align: right;">
            <button ion-button (click)="locationCoordination()" *ngIf="disableButtonSelection">GPS</button>
          </ion-col> -->
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-12>
        <ion-item [ngClass]="(validateUserSts1) ? 'redHighlightText' : 'blackHighlightText'">
          <ion-label color="primary" stacked>User Status</ion-label>
          <ion-select [(ngModel)]="ta0wouserstatus" interface="alert" multiple="true" data-limit="4"
            (ionChange)="userStatusDefaultChange($event, 'user1')">
            <ion-option (ionSelect)="userStatusChange($event)" *ngFor="let key of userStsGroupList; let i = index"
              [disabled]="false" value="{{ key.ta0kiv }}" [selected]="key.ta0kiv === ta0wouserstatus">
              {{ key.ta0kiv || ''}} - {{ key.description}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Crimpless Seal CR-->
    <ion-row>
      <ion-col>
        <ion-item (click)="openCrimplessSeal()">
          <ion-label style="font-weight: bold;font-size: 16px;">
            Device Location Seal
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Crimpless Seal CR-->

    <ion-row *ngIf="woStatus === 'PCBNT' || woStatus === 'PSTSV'">
      <ion-col col-12 col-sm-12 col-md-12 style="word-wrap:  break-all; padding-left: 5px;">
        <ion-item>
          <ion-label color="primary" stacked> Choose the team to pass Service Order </ion-label>
          <ion-select [(ngModel)]="items.json.ta0newworkcentervoltage" (ionChange)="passToNextTeam()">
            <!--  <ion-option value="02">OPC Team</ion-option> -->
            <ion-option value="03">LV Team</ion-option>
            <ion-option value="04">MVHV Team</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Adhoc Replacement Start Shandeep Kumar...... -->
    <div *ngIf="!showAdHoc && !gv.testMobile">
      <ion-row *ngIf="( items.json.worktype === soTypes.ZINL && showAdHocError)">
        <ion-col col-12 col-sm-12 col-md-12>
          <ion-item>
            <ion-label style="color: red; font-size: 10px;">You already created the adHoc, you should not able to
              replace devices.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="items.json.worktype === soTypes.ZINL || items.json.worktype === soTypes.ZINR">
        <ion-col col-10 col-sm-10 col-md-10 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked style="font-weight: bold">Ad-Hoc Replacement</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-2 col-sm-2 col-md-2>
          <button ion-button (click)="changeAdhocReplacement()" [disabled]="!adhocValid">Add</button>
        </ion-col>
      </ion-row>
      <div *ngFor='let attr of items.json.relatedrecord; let j = index;'>
        <ion-row *ngIf="attr.ta0relatedrecstatus !== 'CANCEL'">
          <ion-col col-12 col-sm-12 col-md-9 style="word-wrap:  break-all; padding-left: 5px;">
            <ion-item>
              <ion-row>
                <ion-col col-4 col-sm-4 col-md-4>
                  <b *ngIf="attr.relatedrecwonum"> {{ attr.relatedrecwonum }} - </b>
                </ion-col>
                <ion-col col-3 col-sm-3 col-md-3>
                  {{ attr.ta0relatedrecworktype }}
                </ion-col>
                <ion-col col-3 col-sm-3 col-md-3>
                  {{ attr.ta0relatedrecsncode }}
                </ion-col>
                <ion-col col-2 col-sm-2 col-md-2>
                  {{ attr.ta0relatedrecstatus }}
                </ion-col>
                <!--
                <ion-col col-4 col-sm-4 col-md-4>
                  {{ attr.ta0relatedrecdescription }}
                </ion-col>
                -->
              </ion-row>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-3 style="word-wrap:  break-all; padding-left: 5px;">
            <button ion-button *ngIf="!attr.relatedrecwonum" (click)="createAdhocFollowUp(j)">Create</button>
            <button ion-button *ngIf="attr.relatedrecwonum"
              (click)="changeAdhocRemove(j, attr.relatedrecwonum, 'cancel')">Cancel</button>
            <button ion-button *ngIf="!attr.relatedrecwonum"
              (click)="changeAdhocRemove(j, attr.relatedrecwonum, 'delete')">Delete</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngIf="!showAdHoc && gv.testMobile">
      <ion-row *ngIf="(items.json.worktype === soTypes.ZINL)">
        <ion-col col-12 col-sm-12 col-md-12>
          <ion-item>
            <ion-label style="color: red; font-size: 10px;">No Network Connection to access Ad-Hoc...</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <!-- Adhoc Replacement End -->

    <ion-list>
      <ion-item style="background-color:cornflowerblue">
        <ion-label color="primary">Work Plan Date</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Scheduled Start DateTime</ion-label>
            <ion-input type="text"
              value="{{ items.json.schedstart | date: gv.dateFormat  }} {{ items.json.schedstart | date: gv.timeFormat  }} "
              [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>Scheduled Finish DateTime</ion-label>
            <ion-input type="text"
              value="{{ items.json.schedfinish | date: gv.dateFormat  }} {{ items.json.schedfinish | date: gv.timeFormat  }}"
              [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item style="background-color:cornflowerblue">
        <ion-label color="primary">Actual Start Date</ion-label>
      </ion-item>

      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Actual Start DateTime</ion-label>
            <ion-input type="text"
              value="{{ items.json.actstart  | date: gv.dateFormat  }} {{ items.json.actstart | date: gv.timeFormat  }}"
              [readonly]="true"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
          <ion-item>
            <ion-label color="primary" stacked>Approved By</ion-label>
            <ion-input type="text" value="{{ items.json.owner || ''}}" [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="assignment">
        <ion-col col-12 col-sm-12 col-md-6
          style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
          <ion-item>
            <ion-label color="primary" stacked>Work Done By </ion-label>
            <ion-input type="text" placeholder="Technician Id (Assign To)" value="{{  assignment.laborcode }}"
              [readonly]="isReadonly"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item style="background-color:cornflowerblue">
        <ion-label color="primary">Remarks</ion-label>
      </ion-item>
      <div padding>
        <ion-textarea type="textarea" style="border:1px" rows="6"
          style="border-bottom: 2px solid black; border-right: 1px solid black ;border-left: 1px solid black;border-top: 1px solid black;"
          placeholder="Please Enter" [(ngModel)]="items.json.ta0remarks" value="{{ items.json.ta0remarks }}"
          [disabled]="editField"></ion-textarea>
      </div>
      <div
        *ngIf="items.json.worktype === soTypes.ZIST || items.json.worktype === soTypes.ZUDN || items.json.worktype === soTypes.ZSRO">
        <div
          *ngIf="items.json.ta0installationvoltage > '03' || (items.json.worktype === soTypes.ZUDN && items.json.ta0newvoltage > '03')">
          <ion-item style="background-color:cornflowerblue">
            <ion-label color="primary">Location PT & CT</ion-label>
          </ion-item>
          <ion-row>
            <ion-col col-12 col-sm-12 col-md-6
              style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
              <ion-list>
                <ion-row>
                  <ion-col style="word-wrap:  break-all; padding-left: 5px;">
                    <ion-item>
                      <ion-label color="primary">Location PT </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
              <ion-list radio-group [(ngModel)]="ta0ptlocation">
                <ion-row>
                  <ion-col style="word-wrap:  break-all; padding-left: 5px;">
                    <ion-item>
                      <ion-label>TNB S.Gear</ion-label>
                      <ion-radio value="TNB"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col style="word-wrap:  break-all; padding-left: 5px;">
                    <ion-item>
                      <ion-label>Customer S.Gear</ion-label>
                      <ion-radio value="Customer"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6
              style="word-wrap:  break-all; padding-left: 5px;border-right: 1px solid #dadada;">
              <ion-list>
                <ion-row>
                  <ion-col style="word-wrap:  break-all; padding-left: 5px;">
                    <ion-item>
                      <ion-label color="primary">Location CT </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
              <ion-list radio-group [(ngModel)]="ta0ctlocation">
                <ion-row>
                  <ion-col style="word-wrap:  break-all; padding-left: 5px;">
                    <ion-item>
                      <ion-label>TNB S.Gear</ion-label>
                      <ion-radio value="TNB"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col style="word-wrap:  break-all; padding-left: 5px;">
                    <ion-item>
                      <ion-label>Customer S.Gear</ion-label>
                      <ion-radio value="Customer"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>
<br />
<br />
<ion-footer mode="md" *ngIf="woStatus !== 'APPR'">
  <ion-toolbar mode="md">
    <button ion-button round mode="md" (click)="goToServiceExecution(itemsOri)" *ngIf="showServiceExecution">
      Service Execution
    </button>
    <button ion-button round mode="md" (click)="saveAction()" *ngIf="loc_saveStatus === true || showSave === true"
      [disabled]="buttonForServiceExecution">
      Save
    </button>
    <button ion-button round mode="md" (click)="goBack()">
      Cancel
    </button>
    <button ion-button color="primary" mode="md" round (click)="goToValidateDevicePage()">
      Validate Seal
    </button>
  </ion-toolbar>
</ion-footer>