<ion-header mode="md">
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="md-menu" color="light"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Create Reservation</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon [color]="gv.testMobile ? 'danger' : 'light'" name="md-planet" class="flash_plnt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <ion-header>
  <ion-grid class="headerStyle">
    <ion-row>
      <ion-col col-2 col-md-2 col-sm-2 style="text-align: left; padding-top: 0px;">
        <button ion-button menuToggle clear>
          <ion-icon name="menu" class="menuBackArrow"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 col-md-8 col-sm-8>
        <div class="pageTitle">Create Reservation</div>
      </ion-col>
      <ion-col col-2 col-sm-2 style="word-wrap: break-all; text-align: right; padding-top: 0px; width:12px">
        <ion-col col-2 col-sm-2>
          <button ion-button color="primary" style="float: right;" (click)="goBack()">Back</button>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header> -->

<ion-content padding>
  <ion-row>
    <ion-col>
      ( <span style="color: red;">*</span> These fields are mandatory. )
    </ion-col>
    <ion-col>
      <ion-toggle style="float:right;" checked="true" (ionChange)="changeshowExpandFn()"></ion-toggle>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 col-lg-6 col-md-6 col-xs-6 col-sm-6>
      <ion-row>
        <ion-item>
          <ion-label stacked><b style="font-size: 17px; color: black">Device Phase Indicator</b> <span
              style="color: red">*</span></ion-label>
          <ion-select [(ngModel)]="dev_phase_ind" (ionChange)="getMaterialItemFn()"
            [disabled]="checkDevicePhaseIndicator">
            <ion-option *ngFor="let devicePhaseIndicator of devicePhaseIndicators" [value]="devicePhaseIndicator"
              [selected]="devicePhaseIndicator === dev_phase_ind">{{ devicePhaseIndicator }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col col-6 col-lg-6 col-md-6 col-xs-6 col-sm-6>
      <ion-row>
        <ion-item>{{sLocation}}
          <ion-label stacked><b style=" font-size: 17px; color: black">Storage Location</b> <span
              style="color: red">*</span></ion-label>
          <ion-select [(ngModel)]="sLocation">
            <ion-option *ngFor="let loc of storageLocation" [selected]="loc.location === sLocation"
              [disabled]="sLocationCheck">{{ loc.location }}</ion-option>
          </ion-select>
        </ion-item>

      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="changeshowExpand">
    <ion-col col-6 col-lg-6 col-md-6 col-xs-6 col-sm-6>
      <ion-row>
        <ion-item>
          <ion-label stacked><b style=" font-size: 17px; color: black">Zone</b> <span style="color: red">*</span>
          </ion-label>
          <ion-select [(ngModel)]="zone">
            <ion-option *ngFor="let zoneItem of zoneItems" [value]="zoneItem.json.value"
              [selected]="zoneItem.json.value === zone" disabled>{{ zoneItem.json.description }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col col-6 col-lg-6 col-md-6 col-xs-6 col-sm-6>
      <ion-row>
        <ion-item>
          <ion-label stacked><b style=" font-size: 17px; color: black">Goods Recipient</b> <span
              style="color: red">*</span> </ion-label>
          <select-searchable item-content [(ngModel)]="recipient" [items]="this.recipientItem"
            itemValueField="laborcode" itemTextField="compositeName" [canSearch]="true">
          </select-searchable>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="changeshowExpand">
    <ion-col col-6 col-lg-6 col-md-6 col-xs-6 col-sm-6>
      <ion-row>
        {{siteItem.siteid}}
        <ion-item>
          <ion-label stacked><b style=" font-size: 17px; color: black">Site ID</b> <span style="color: red">*</span>
          </ion-label>
          <ion-select [(ngModel)]="siteid" (ionChange)="getStorageLocation()">
            <!-- <ion-option *ngFor="let store of siteItem" [value]="store.siteid" [selected]="gv.ta0defsiteid === store.siteid" [disabled]="gv.ta0defsiteid !== store.siteid" >{{ store.siteid }} &nbsp; - &nbsp; {{ store.description }} </ion-option> -->
            <ion-option *ngFor="let store of siteItem" [value]="store.siteid"
              [selected]="gv.ta0defsiteid === store.siteid">{{ store.siteid }} &nbsp; - &nbsp; {{ store.description }}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col col-6 col-lg-6 col-md-6 col-xs-6 col-sm-6>
      <ion-row>
        <ion-item>
          <ion-label stacked><b style=" font-size: 17px; color: black">Reporting To</b> <span
              style="color: red">*</span></ion-label>
          <ion-select [(ngModel)]="reporting_to">
            <ion-option *ngFor="let reportingItem of reportingItems" [value]="reportingItem.json.value"
              [selected]="reportingItem.json.value === reporting_to">{{ reportingItem.json.description }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="changeshowExpand">
    <ion-col col-12 col-lg-12 col-md-12 col-xs-12 col-sm-12>
      <ion-row>
        <ion-item>
          <ion-label stacked><b style=" font-size: 17px; color: black">Created By</b></ion-label>
          <ion-input [(ngModel)]="created_by" type="text" [value]="gv.personid" disabled></ion-input>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="padding-bottom: 20px;">
    <ion-col col-4 col-lg-4 col-md-4 col-xs-4 col-sm-4>
      <ion-row>
        <ion-item>
          <ion-label stacked><b style=" font-size: 17px; color: black">Material Number</b></ion-label>
          <!--<ion-select [(ngModel)]="material_id" [disabled]="materialCheck" id="adjust1">
              <ion-option *ngFor="let materialItem of materialItems" [value]="materialItem.json.ta0materialnum" [selected]="materialItem.json.ta0materialnum === material_id" [disabled]="checkMaterialArray.includes(materialItem.json.ta0materialnum)">{{ materialItem.json.ta0materialnum }}</ion-option>
          </ion-select>-->
          <select-searchable item-content [(ngModel)]="material_id" [items]="this.materialItems"
            itemValueField="materialnum" itemTextField="compositeName" [canSearch]="true" [disabled]="materialCheck">
          </select-searchable>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col col-4 col-lg-4 col-md-4 col-xs-4 col-sm-4>
      <ion-row>
        <ion-item>
          <ion-label stacked><b style=" font-size: 17px; color: black">Requirement Date</b></ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" picker-format="DD MMMM YYYY" [min]="minDate" max="2030"
            [(ngModel)]="req_date" type="date"></ion-datetime>

        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col col-3 col-lg-3 col-md-3 col-xs-3 col-sm-3>
      <ion-row>
        <ion-item>
          <ion-label stacked><b style=" font-size: 17px; color: black">Quantity</b></ion-label>
          <ion-input [(ngModel)]="quantity" type="text" id="adjust2" (keyup)="validationQuantity()"
            (ionBlur)="validationQuantity()"></ion-input>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col col-1 col-lg-1 col-md-1 col-xs-1 col-sm-1>
      <ion-row class="okay-button">
        <button ion-button style="float: right;" (click)="addMaterial()">
          <ion-icon name="add-circle" style="font-size: 35px;"></ion-icon>
        </button>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="valueIndicator">
    <ion-card-header>
      <ion-row (click)="showDeviceContentFn()">
        <ion-col col-9>
          <b>List of Materials</b>
        </ion-col>
        <ion-col col-3>
          <span style="float: right;">
            <ion-icon [name]="showDeviceContent? 'arrow-down':'arrow-up'"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content *ngIf="showDeviceContent">
      <ion-row>
        <ion-col col-12 *ngFor="let device of storeMaterialList; let i = index;">
          <ion-row [ngClass]="i%2 != 0 ? 'classA' : 'classB'" style="padding: 10px;">
            <ion-col col-1 style="padding-top: 20px;">
              {{i+1}}.
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-6>
                  <b>Material Number :</b> {{ device.matnr }}
                </ion-col>
                <ion-col col-4>
                  <b>Requirement Date :</b> {{ device.req_date }}
                </ion-col>
                <ion-col col-2>
                  <b>Qty :</b> {{ device.quantity }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <b>Status :</b> {{ device.zlog !== '' ? device.zlog: '' }}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-2 style="padding-top: 20px;">
              <span style="float: right;">
                <button ion-button (click)="deleteMaterial(i)"
                  [color]="device.respCode !== '2' ? ( (device.respCode === '1') ? 'secondary':'danger' ):'primary'">
                  <ion-icon name="trash" item-center></ion-icon>
                </button>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col style="text-align: center;">
      <button ion-button style="padding: 15px;" (click)="validationToSubmit(checkStringChange ? 'RESV_1':'VAL_M')"
        [disabled]="addMaterialIntoList"> {{  checkStringChange ? 'Create Reservation':'Validate to ERMS' }} </button>
    </ion-col>
  </ion-row>
</ion-content>