page-display-info {

    .okay-button {
        float: right;
        padding-top: 20px;
    }

    .classA { 
        background-color: #fffffA;
    }

    .classB{ 
        background-color:#C4D8E2;
    }

    .adjustAlign {
        padding: 23px;
    }

    
    .ion-1x { font-size: 17px !important;}
}
