page-attachment {
  .block {
    position: relative;
    .deleteIcon {
      position: absolute !important;
      color: #ffffff !important;
      margin-left: 80% !important;
    }
    .deleteIcon:before {
      font-size: 30px !important;
    }
  }

  .redHighlightText {
    padding-bottom: 0px;
    border-bottom: 2px solid red;
    border-right: 0px solid;
    border-left: 0px solid;
    border-top: 0px solid;
  }

  .blackHighlightText {
    padding-bottom: 0px;
    border-bottom: 2px solid black;
    border-right: 0px solid;
    border-left: 0px solid;
    border-top: 0px solid;
  }

  .flash {
    height: 18px !important;
    padding: 15px;
    background-color: white;
  }

  .fab {
    contain: initial;
  }

  ion-fab {
    button {
      box-shadow: 0 4px 10px #6b6b6b;
    }

    ion-fab-list button[ion-fab] {
      text-align: center;
      overflow: visible;

      div.label {
        position: absolute;
        right: 48px;
        background: rgba(248, 248, 248, 1);
        height: 24px;
        line-height: 16px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 8px;
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
      }
    }

    .button-inner {
      overflow: visible;
    }
  }

  @keyframes flash {
    50% {
      opacity: 0;
    }
  }

  .flash_plnt {
    animation: flash 1s linear infinite;
    padding-right: 5px;
    font-size: 15px;
  }

  .offline_btn {
    font-size: 15px;
  }

  .pageTitle {
    // padding-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-items: left;
  }

  .maxwidth {
    min-width: 26% !important;
    max-width: 20% !important;
  }

  .redHighlightText {
    // padding-bottom: 0px;
    border-bottom: 2px solid red;
    border-right: 0px solid;
    border-left: 0px solid;
    border-top: 0px solid;
  }

  .blackHighlightText {
    // padding-bottom: 0px;
    border-bottom: 2px solid black;
    border-right: 0px solid;
    border-left: 0px solid;
    border-top: 0px solid;
  }

  ion-select {
    min-width: -webkit-fill-available;
  }
}
