page-addsealsweep {

    .totalContainer {
        padding: 25px 100px 0px 100px;
    }

    .wrapperScanSet {
        padding: 20px; 
        border: 1px dotted black;
    }

    .deviceLabel {
        padding-top: 15px;
    }

    .text-right {
        float: right;
    }

}
