<ion-header mode="md">
  <ion-navbar color="primary">
    <ion-title>Sil & Sticker Informations</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon [color]="gv.testMobile ? 'danger' : 'light'" name="md-planet" class="flash_plnt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="refSegment" style="padding-bottom: 10px;">
    <ion-segment-button value="before" [disabled]="segmentSection">Before</ion-segment-button>
    <ion-segment-button value="after" [disabled]="disableAfter">After</ion-segment-button>
  </ion-segment>

  <span [ngSwitch]="refSegment">
    
    <span *ngSwitchCase="'before'">
      <ion-item-divider color="light">
        <ion-row align-items-center>
          <ion-col col-12 col-sm-12 col-md-9 style="word-wrap:  break-all; padding-left: 5px;">
            <ion-icon name="ribbon"></ion-icon>&nbsp; <strong>SEAL NO</strong>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-1 style="word-wrap: break-all; padding-left: 5px;">
            <!-- <button ion-button round mode="md" style="float: center;" (click)="resetSealSection()">Reset</button> -->
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-2 style="word-wrap:  break-all; padding-left: 5px;text-align: right"></ion-col>
        </ion-row>
      </ion-item-divider>

      <ion-item-divider color="light" *ngIf="terminalCtRedArray.length > 0">
        <ion-row align-items-center>
          <ion-col col-10 col-sm-10 col-md-10 style="word-wrap:  break-all; padding-left: 0px;">
            Terminal CT
          </ion-col>
          <ion-col col-2 col-sm-2 col-md-2 style="word-wrap:  break-all; padding-left: 5px; text-align:right">           
          </ion-col>
        </ion-row>
      </ion-item-divider>
      <span style="word-wrap:  break-all; padding-right: 0px;padding-bottom: 0px;padding-top: 0px;" *ngFor="let attr of terminalCTArray; let j = index">
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-3 style="word-wrap:  break-all; padding-left: 5px;">
            <ion-item no-lines>
              <ion-label color="primary">Terminal CT</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-1>
            <ion-item no-lines>
              <ion-checkbox [(ngModel)]="attr.ta0removeind" (click)="onClickRemove(attr)"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
            <ion-item>
              <ion-input [(ngModel)]="attr.ta0sealnum" type="text" maxlength="30" placeholder="Please Enter"
                clearInput (keyup)="userInputLengthNum($event,'terminalCTRed',j,'before')" [readonly]="true" 
                [ngClass]="(attr.ta0sealnum == '' || attr.ta0sealnum == undefined && !validateInput || attr.ta0error) ? 'redHighlightText' : 'blackHighlightText'">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2 col-sm-2 col-md-1 style="word-wrap:  break-all; padding-left: 5px;">
            <button ion-button (click)="barcodeScan(terminalCtRedArray,j,1, 'before')">
              <ion-icon name="barcode"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2 col-sm-2 col-md-1 style="word-wrap:  break-all; padding-left: 5px;" *ngIf="j > 0">
            <button ion-button (click)="deleteTerminalCt(j)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-3>
            <ion-item no-lines>
              <ion-label color="primary">CT Type</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-1>
            <ion-item no-lines>

            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-6>
            <ion-item>
              <ion-select [(ngModel)]="CTType" interface="popover" placeholder="Please select value"
                [ngClass]="(CTType == '' || (CTType == undefined && !validateInput)) ? 'redHighlightText' : 'blackHighlightText'">              
                  <ion-option value="red">Terminal CT Red</ion-option>
                  <ion-option value="yellow">Terminal CT Yellow</ion-option>
                  <ion-option value="blue">Terminal CT Blue</ion-option>
              </ion-select>              
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-3>
            <ion-item no-lines>
              <ion-label color="primary">Condition</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-1>
            <ion-item no-lines>

            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-6>
            <ion-item>
              <ion-select [(ngModel)]="attr.ta0sealcondition" interface="popover" placeholder="Please select value"
                [ngClass]="(attr.ta0sealcondition == '' || (attr.tta0sealcondition == undefined && !validateInput) || attr.ta0error ) ? 'redHighlightText' : 'blackHighlightText'">
                <ion-option *ngFor="let key of sc" value="{{ key.json.value }}">
                  {{ key.json.description }}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-3 style="word-wrap:  break-all; padding-left: 5px;"
            *ngIf="attr.ta0removeind">
            <ion-item no-lines>
              <ion-label color="primary"> Removal Reason</ion-label>
              <!-- <ion-label *ngIf="ttbF1Array.length > 1" color="primary"> {{sealDetail.ta0seallocation_description}} - {{ j + 1 }}</ion-label> -->
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-1 *ngIf="attr.ta0removeind">

          </ion-col>
          <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;"
            *ngIf="attr.ta0removeind">
            <ion-item>
              <ion-select [(ngModel)]="attr.ta0sealremreason" interface="popover" placeholder="Please select value"
                [ngClass]="(attr.ta0sealremreason == '' || (attr.ta0sealremreason == undefined && !validateInput) || attr.ta0error ) ? 'redHighlightText' : 'blackHighlightText'">
                <ion-option *ngFor="let key of rr" value="{{ key.json.value }}">
                  {{ key.json.description }}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </span>

    </span>

    <span *ngSwitchCase="'after'">
      <ion-item-divider color="light">
        <ion-row align-items-center>
          <ion-col col-12 col-sm-12 col-md-9 style="word-wrap:  break-all; padding-left: 5px;">
            <ion-icon name="ribbon"></ion-icon>&nbsp; <strong>SEAL NO</strong>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-1 style="word-wrap: break-all; padding-left: 5px;">
            <!-- <button ion-button round mode="md" style="float: center;" (click)="resetSealSection()">Reset</button> -->
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-2 style="word-wrap:  break-all; padding-left: 5px;text-align: right"></ion-col>
        </ion-row>
      </ion-item-divider>
    
      <ion-item-divider color="light" *ngIf="terminalCTArray.length > 0">
        <ion-row align-items-center>
          <ion-col col-10 col-sm-10 col-md-10 style="word-wrap:  break-all; padding-left: 0px;">
            Terminal CT
          </ion-col>
          <ion-col col-2 col-sm-2 col-md-2 style="word-wrap:  break-all; padding-left: 5px; text-align:right">           
          </ion-col>
        </ion-row>
      </ion-item-divider>
      <span style="word-wrap:  break-all; padding-right: 0px;padding-bottom: 0px;padding-top: 0px;" *ngFor="let attr of nTerminalCTArray; let j = index">
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-3 style="word-wrap:  break-all; padding-left: 5px;">
            <ion-item no-lines>
              <ion-label color="primary">Terminal</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-1>
            <ion-item no-lines>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-6 style="word-wrap:  break-all; padding-left: 5px;">
            <ion-item>
              <ion-input [(ngModel)]="attr.ta0sealnum" type="text" maxlength="30" placeholder="Please Enter" clearInput
                [ngClass]="(attr.ta0sealnum == '' || attr.ta0sealnum == undefined && !validateInput || attr.ta0error) ? 'redHighlightText' : 'blackHighlightText'">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2 col-sm-2 col-md-1 style="word-wrap:  break-all; padding-left: 5px;">
            <button ion-button (click)="barcodeScan(terminalCTArray,j,1, 'before')">
              <ion-icon name="barcode"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2 col-sm-2 col-md-1 style="word-wrap:  break-all; padding-left: 5px;" *ngIf="j > 0">
            <button ion-button (click)="deleteTerminalCt(j)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-3>
            <ion-item no-lines>
              <ion-label color="primary">CT Type</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-1>
            <ion-item no-lines>

            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-6>
            <ion-item>
              <ion-select [(ngModel)]="newCTType" interface="popover" placeholder="Please select value"
                [ngClass]="(newCTType == '' || (newCTType == undefined && !validateInput)) ? 'redHighlightText' : 'blackHighlightText'">
                  <ion-option value="red">Terminal CT Red</ion-option>
                  <ion-option value="yellow">Terminal CT Yellow</ion-option>
                  <ion-option value="blue">Terminal CT Blue</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </span>          
    </span>

  </span>
</ion-content>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <ion-row>
      <ion-col>
        <button ion-button round block mode="md" (click)="saveCtSealDetails()">Save</button>
      </ion-col>
      <ion-col>
        <button ion-button round block mode="md" (click)="goBack()">Cancel</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>